@{
    ViewData["Title"] = "Vítejte | David Břach - Junior programátor"; // Nastavení názvu stránky
}

<!-- Jumbotron Section -->
<section id="Jumbotron" class="bg-light p-lg-5 py-5">
    <div class="jumbotron text-center">
        <blockquote class="blockquote">
            <p class="mb-5">„Kdyby architekti stavěli domy tak, jak programátoři dělají programy, dokázal by jediný datel zbořit celá města.“</p>
            <footer class="blockquote-footer"><cite title="Source Title">Murphyho zákony</cite></footer>
        </blockquote>
    </div>
</section>

<!-- About Section -->
<section id="about" class="p-lg-5 py-5">
    <div class="container">
        <h2 class="section-title text-center pb-3 underline">O mně</h2>
        <div class="row">
            <div class="col-xl-8 col-lg-6">
                <p>Jsem David Břach. Narodil jsem se, vyrůstal jsem a nadále pobývám v západních Čechách. Mám skvělou rodinu a zlobivého kocoura, rád sleduji filmy a seriály, miluji hudbu a baví mě sport (převážně pasivně).</p>
                <p>Vyzkoušel jsem různorodé profese, od stavebního dělníka, přes copywritera a externího redaktora až po provozovatele webových stránek, které byly součástí Homepage Seznam. Momentálně se živím jako hlavní kontrolor kvality ve firmě vyrábějící zemědělské stroje a další přidružené komponenty.</p>
                <p><strong>A chci se stát programátorem.</strong> Po úspěšném dokončení rekvalifikačního kurzu hledám juniorní pozici, která mi poskytne dostatek prostoru ke zdokonalování dosavadních znalostí a postupnému osobnostnímu rozvoji.</p>
            </div>
            <div class="col-xl-4 col-lg-6 d-flex justify-content-end align-item-center">
                <img src="images/photos/me.png" alt="David Břach" class="img-fluid img-sizing">
            </div>
        </div>
    </div>
</section>

<!-- Skills Section -->
<section id="skills" class="bg-light p-lg-5 py-5">
    <div class="container">
        <h2 class="section-title text-center pb-3 underline">Dovednosti</h2>
        <div class="row">
            <div class="col-md-6">
                <h3>Technické dovednosti</h3>
                <ul>
                    <li>Programovací jazyky: C#</li>
                    <li>Objektově orientované programování (OOP)</li>
                    <li>Webové technologie: HTML5, CSS3, JavaScript (základy), ASP.NET Core MVC, Bootstrap</li>
                    <li>Databáze: MS-SQL</li>
                    <li>SEO (základy)</li>
                    <li>Umělá inteligence</li>
                </ul>
                    <img src="images/icons/cSharp.png" alt="C#" class="skill-icon">
                    <img src="images/icons/html.png" alt="HTML5" class="skill-icon">
                    <img src="images/icons/css.png" alt="CSS" class="skill-icon">
                    <img src="images/icons/javascript.png" alt="JavaScript" class="skill-icon">
                    <img src="images/icons/bootstrap.png" alt="Bootstrap" class="skill-icon">
                    <img src="images/icons/mssql.png" alt="MS-SQL" class="skill-icon">
                    <img src="images/icons/seo.png" alt="SEO" class="skill-icon">
                    <img src="images/icons/ai.png" alt="Ai" class="skill-icon">
            </div>
            <div class="col-md-6 pt-3 pt-md-0">
                <h3>Nástroje a technologie</h3>
                <ul>
                    <li>Vývojová prostředí: Visual Studio, Visual Studio Code</li>
                    <li>Verzovací systémy: GitHub</li>
                    <li>CMS: WordPress</li>
                    <li>Designové a grafické nástroje: Canva</li>
                    <li>Kancelářské aplikace: MS Office, Open Office</li>
                    <li>Analytické nástroje: Google Search Console, Google Analytics</li>
                    <li>Nástroje a platformy pro umělou inteligenci (ChatGPT a jeho alternativy)</li>
                </ul>
                    <img src="images/icons/visualStudio.png" alt="VisualStudio" class="skill-icon">
                    <img src="images/icons/visualStudioCode.png" alt="VisualStudioCode" class="skill-icon">
                    <img src="images/icons/gitHub.png" alt="GitHub" class="skill-icon">
                    <img src="images/icons/wordpress.png" alt="Wordpress" class="skill-icon">
                    <img src="images/icons/canva.png" alt="Canva" class="skill-icon">
                    <img src="images/icons/msoffice.png" alt="MS-Office" class="skill-icon">
                    <img src="images/icons/googleAnalytics.png" alt="GoogleAnalytics" class="skill-icon">
                    <img src="images/icons/chatGPT.jpg" alt="ChatGPT" class="skill-icon">
            </div>
        </div>
    </div>
</section>

<!-- Programming education -->
<section id="education" class="p-lg-5 py-5">
    <div class="container">
        <h2 class="section-title text-center pb-3 underline">Vzdělání</h2>
        <div class="row">
            <div class="col-lg-12">
                <p>Základy programování mi vštípila největší tuzemská IT akademie současnosti - <strong>ITnetwork.cz</strong> (vzdělávací zařízení akreditované Ministerstvem školství, mládeže a tělovýchovy České republiky). Kurz „Programátor www aplikací v C# .NET završený samostatným projektem a písemnou zkouškou obsahoval následující kapitoly:</p>
                <div class="row">
                    <div class="col-lg-6">
                        <h5 class="text-center">Základní skladba rekvalifikačního kurzu</h5>
                        <ul>
                            <li>Základní konstrukce jazyka C# .NET</li>
                            <li>Objektově-orientované programování v C# .NET</li>
                            <li>Kolekce a LINQ v C# .NET</li>
                            <li>Moderní webdesign</li>
                            <li>MS-SQL</li>
                            <li>Základní konstrukce jazyka JavaScript</li>
                            <li>Základy ASP.NET Core MVC</li>
                            <li>Bootstrap</li>
                            <li>Testování, verzování</li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <h5 class="text-center">Nadstavba rekvalifikačního kurzu</h5>
                        <ul>
                            <li>Databáze v C# - ADO.NET</li>
                            <li>Responsivní webdesign</li>
                            <li>jQuery - Dynamické doplňky webu snadno a rychle</li>
                            <li>E-shop v ASP.NET Core MVC - Základ</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Portfolio Section -->
<section id="portfolio" class="bg-light p-lg-5 py-5">
    <div class="container">
        <h2 class="section-title text-center pb-3 underline">Portfolio</h2>
        <p>Souhlasíte, že praktická ukázka řekne více než tisíce slov? Tady přikládám několik svých dosavadních projektů k nahlédnutí. Snažil jsem se obsáhnout skutečně všechno, co mě výše zmíněné rekvalifikační zařízení naučilo.</p>
        <div class="row">
            <div class="col-lg-4 col-md-6 portfolio-item">
                <div class="flip-card m-2">
                    <div class="flip-card-inner">
                        <div class="flip-card-front" style="background-image: url('../images/photos/piggy.jpg');">
                            <h3 class="bg-secondary p-2 rounded" style="--bs-bg-opacity: .5;">Family Budget</h3>
                        </div>
                        <div class="flip-card-back">
                            <div>
                                <p>Jednoduchá konzolová aplikace v jazyce C# sledující rodinné příjmy a výdaje.</p>
                                <p>Součástí balení: C#, OOP, Kolekce, LINQ, Validace</p>
                                <a href="https://github.com/brachdavid/FamilyBudget" target="_blank" class="btn btn-light">GitHub</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item">
                <div class="flip-card m-2">
                    <div class="flip-card-inner">
                        <div class="flip-card-front" style="background-image: url('../images/photos/programmer.jpg');">
                            <h3 class="bg-secondary p-2 rounded" style="--bs-bg-opacity: .5;">Personal website</h3>
                        </div>
                        <div class="flip-card-back">
                            <div>
                                <p>Osobní webové stránky začínajícího programátora.</p>
                                <p>Součástí balení: C#, ASP.NET Core MVC, HTML5, CSS3, JavaScript, Validace</p>
                                <a href="https://github.com/brachdavid/PersonalPortfolio" target="_blank" class="btn btn-light">GitHub</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item">
                <div class="flip-card m-2">
                    <div class="flip-card-inner">
                        <div class="flip-card-front" style="background-image: url('../images/photos/laptop.jpg');">
                            <h3 class="bg-secondary p-2 rounded" style="--bs-bg-opacity: .5;">Jobseekers</h3>
                        </div>
                        <div class="flip-card-back">
                            <div>
                                <p>Konzolová aplikace sloužící jako evidence uchazečů o zaměstnání.</p>
                                <p>Součástí balení: C#, OOP, MS-SQL, LINQ, Validace, Entity Framework Core</p>
                                <a href="https://github.com/brachdavid/Jobseekers" target="_blank" class="btn btn-light">GitHub</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item">
                <div class="flip-card m-2">
                    <div class="flip-card-inner">
                        <div class="flip-card-front" style="background-image: url('../images/photos/checklist.jpg');">
                            <h3 class="bg-secondary p-2 rounded" style="--bs-bg-opacity: .5;">Task Manager</h3>
                        </div>
                        <div class="flip-card-back">
                            <div>
                                <p>Webová aplikace pro správu úkolů a klientů v prostředí marketingové agentury.</p>
                                <p>Součástí balení: Blazor, C#, EF Core, Identity, MS-SQL, LINQ, Validace</p>
                                <a href="https://github.com/yourusername/project4" target="_blank" class="btn btn-light">GitHub</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item">
                <div class="flip-card m-2">
                    <div class="flip-card-inner">
                        <div class="flip-card-front" style="background-image: url('../images/photos/bulb.jpeg');">
                            <h3 class="bg-secondary p-2 rounded" style="--bs-bg-opacity: .5;">Knowledge game</h3>
                        </div>
                        <div class="flip-card-back">
                            <div>
                                <p>PROJEKT VE VÝSTAVBĚ!</p>
                                <a href="https://github.com/yourusername/project5" target="_blank" class="btn btn-light">GitHub</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item">
                <div class="flip-card m-2">
                    <div class="flip-card-inner">
                        <div class="flip-card-front" style="background-image: url('../images/photos/gamer.jpeg');">
                            <h3 class="bg-secondary p-2 rounded" style="--bs-bg-opacity: .5;">Unity game</h3>
                        </div>
                        <div class="flip-card-back">
                            <div>
                                <p>PROJEKT JE ZATÍM VE FÁZI PLÁNOVÁNÍ!</p>
                                <a href="https://github.com/yourusername/project6" target="_blank" class="btn btn-light">GitHub</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Hobbies Section -->
<section id="hobbies" class="p-lg-5 py-5">
    <div class="container">
        <h2 class="section-title text-center pb-3 underline">Zájmy a koníčky</h2>
        <div class="row justify-content-center">
            <div id="myHobbies" class="carousel slide col-lg-8 col-sm-12" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#myHobbies" data-bs-slide-to="0" class="active"></button>
                    <button type="button" data-bs-target="#myHobbies" data-bs-slide-to="1"></button>
                    <button type="button" data-bs-target="#myHobbies" data-bs-slide-to="2"></button>
                    <button type="button" data-bs-target="#myHobbies" data-bs-slide-to="3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="~/images/photos/coding.jpg" class="d-block w-100" alt="Programování">
                        <div class="carousel-caption">
                            <div class="bg-secondary p-2 rounded" style="--bs-bg-opacity: .8;">
                                <h3>Programování</h3>
                                <p class="d-none d-md-block">
                                    Asi neexistuje vhodnější záliba, s níž mohu tuto sekci odšpuntovat.
                                    Programování, kterému jsem se začal aktivně věnoval koncem minulého roku,
                                    se totiž postupem času opravdu stalo mým koníčkem.
                                    A kdo říká, že koníček nemůže být zároveň obživou?
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="~/images/photos/family.jpg" class="d-block w-100" alt="Rodina">
                        <div class="carousel-caption">
                            <div class="bg-secondary p-2 rounded" style="--bs-bg-opacity: .8;">
                                <h3>Rodina</h3>
                                <p class="d-none d-md-block">
                                    Bez ní by všechno postrádalo smysl. Rodina je pro mě hnacím motorem i důvodem na chvilku zpomalit.
                                    Kvůli svým nejbližším dělám to, co dělám. Abych jim zajistil co nejlepší život.
                                    Mezi prací a osobním životem musí panovat rovnováha. Bezpodmínečně.
                                    Myslím, že právě tohle mi dokáže programování nabídnout.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="~/images/photos/guitar.jpg" class="d-block w-100" alt="Hudba">
                        <div class="carousel-caption">
                            <div class="bg-secondary p-2 rounded" style="--bs-bg-opacity: .8;">
                                <h3>Hudba</h3>
                                <p class="d-none d-md-block">
                                    Hudba dělá život bohatším. V mém případě tak činí aktivně i pasivně.
                                    Nemám vyhraněný styl. Poslouchám zkrátka to, co se mi líbí. Bez ohledu na žánr.
                                    Dříve jsem působil v několika regionálních kapelách. Dnes už si brnkám,
                                    zpívám a skládám jen tak pro radost.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="~/images/photos/deadpool.jpg" class="d-block w-100" alt="Deadpool">
                        <div class="carousel-caption">
                            <div class="bg-secondary p-2 rounded" style="--bs-bg-opacity: .8;">
                                <h3>Filmy a seriály</h3>
                                <p class="d-none d-md-block">
                                    Filmové novinky, osvědčené klasiky, hororové příběhy, komiksové pecky,
                                    napínavé seriály nebo odpočinkové sitcomy? Když mám zrovna volnou chvilku,
                                    nebráním se žádnému kinematografickému počinu se zajímavou anotací!
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#myHobbies" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Předchozí</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#myHobbies" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Další</span>
                </button>
            </div>
        </div>
    </div>
</section>
